@charset "utf-8";

/* Body */
body{
	width:1000px;
	margin:0 auto;
	background-color:transparent;
	text-align:justify;
}

a{
	transition-property : color; 
  	transition-duration : 0.3s;
}

a:active{
	background:transparent;
}

body ::selection {
	background-color:#2c3230;
	color: #ffffff;
}

body div{
	display:block;
	float:left;
	vertical-align:bottom;
}


/* Fonts */
@font-face{
	font-family: YK;
	src: url('/resources/fonts/yanonekaffeesatz-regular-webfont.woff'), url('/resources/fonts/yanonekaffeesatz-regular-webfont.eot'), url('/resources/fonts/yanonekaffeesatz-regular-webfont.ttf'), url('/resources/fonts/yanonekaffeesatz-regular-webfont.svg');
}

@font-face{
	font-family: Quicksand Book;
	src:url('/resources/fonts/Quicksand_Book-webfont.woff'), url('/resources/fonts/Quicksand_Book-webfont.eot'), url('/resources/fonts/Quicksand_Book-webfont.svg'),url('/resources/fonts/Quicksand_Book-webfont.ttf')
	;
}

@font-face{
	font-family: Typo Grotestk;
	src:url('/resources/fonts/Typo_Grotesk_Bold_Demo.otf')
	;
}


/* Background colours */


body #pg4{
	background-color:#d9dade;
	width: 900px;
	height:auto;
	clear:both;
}

body #pg5{
	background-color:#211f1c;
	width: 900px;
	height:auto;
	clear:both;
}


/* Headers */
body h1 {
	color: #95040b;
	font-family: Quicksand Book;
	font-size: 52.08px;
	letter-space: -0.02em;
	text-align: right;
}

body h2 {
	font-family: Quicksand Book;
	font-size: 43.4px;
	line-height: 32.55px;
	letter-space: -0.04em;
}

body h3 {
	font-family: Quicksand Book;
	font-size: 41.23px;
	line-height: 47.74px;
	letter-space: -0.04em;
}

/* Text types */
body p1 {
	font-family: Quicksand Book;
	font-size: 30.38px;
	line-height: 32.55px;
	letter-space: -0.04em;
}

body p2 {
	font-family: Quicksand Book;
	font-size: 26.04px;
	line-height: 26.04px;
	letter-space: -0.04em;
}

body p3 {
	font-family: Quicksand Book;
	font-size: 23.87px;
	line-height: 26.04px;
	letter-space: -0.02em;
}

body p4 {
	font-family: Quicksand Book;
	font-size: 19px;
	line-height: 21.04px;
	letter-space: -0.02em;
}

body .content{
	padding: 60px 50px;
	overflow:auto;
}

/* Back to top sticky button */
body #backtotop{
	position:fixed;
	bottom:30px;
	margin-left:900px;
	z-index:9999;
}

body #backtotop a img{
	opacity:0.7;
	transition-property : opacity; 
  	transition-duration : 0.3s;
	width:50px;
}

body #backtotop a img:hover{
	opacity:1;
	transition-property : opacity; 
  	transition-duration : 0.3s;
	width:50px;
}

/*
ul {
	margin: 0 0 0.8em 0;
}

li {
	margin: 0 0 0.4em 0;
} */

img{
	 border:none;
	 outline:none;
	 padding:10px 0px 20px 0px;
}

.sticky {
	position: fixed;
	width: 100%;
	top: 0;
	border-top: 0;
}

/* Navigation bar properties */
body #navBar{
	height:105.93695px;
	width: 1000px;
	background-color:#2c3230;
	clear:both;
	z-index: 100;
}

body div #links {
	display:table;
	table-layout:fixed;
	width:100%;
	height:55.93695px;
	padding-top:30px;
	text-align:center;
	font-family:Quicksand Book;
	font-size:26.04px;
	clear:both;
	letter-spacing:-0.06em;
}

body #navBar #links a  {
	display: table-cell;
    text-align: center;
	color: #d9dade;
	text-decoration:none;
}

body #navBar #links a:hover{
	color: #ffffff;
	border-bottom:thick solid #ffffff;
	padding-bottom:22px;
	text-decoration:none;
}

/* Table of contents */
body div #tocid {
	margin: 20px 20px 20px 20px;
	width: 85%;
	padding: 20px; 
	border: 1px solid #e8e8e8;
	background-color:#fafafa;
}



body div ul.contents {
	list-style-type: none;
	margin
}

body div ul.contents li::before{
	content: "-";
	position: relative;
	left: -10px;
}

body div ul.contents li{
	margin: 10px;
}

body li {
	margin: 0px 0px 15px 0px;
}

body div ul.contents li a{
	text-decoration: none;
	color: #2c3230;
	font-size: 20px;
}

body div ul.contents li a:hover{
	text-decoration: underline;
	color: #2c3230;
	font-size: 20px;
}

/*CSS for the Tabbed Part*/
.profile
{
	width: 800px;
	margin-left:50px;
	clear:both;
	font-size:16px;
	/*font-family:Quicksand Book;*/
    font-family:calibri;
}

ul.tabs {
	margin:0px;
 	margin-bottom: 8px;
 	padding: 0;
 	float: left;
 	list-style: none;
 	height: 0px;

}

ul.tabs li {
	left:-15px;
	width:120px;
	margin-bottom: 3px;
 	padding: 0;
 	position: relative;
 	background-color: #211f1c;
 	border-radius: 5px 0 0 5px;
	text-align:center;
	transition: left 0.3s, width 0.3s;
	-moz-transition:left 0.3s, width 0.3s;
	-webkit-transition: left 0.3s, width 0.3s;
}

ul.tabs li:hover {
	left:-30px;
	width:130px;
 	position: relative;
 	background-color: #211f1c;
 	border-radius: 5px 0 0 5px;
	transition: left 0.3s, width 0.3s;
	-moz-transition:left 0.3s, width 0.3s;
	-webkit-transition: left 0.3s, width 0.3s;
}

ul.tabs li a, ul.tabs li a:hover{
 	text-decoration: none;
 	display: block;
 	padding: 5px;
 	outline: none;
	font-size:18px;
	color:#ff1922;
}

 ul.tabs li.active, ul.tabs li.active a, ul.tabs li.active a:hover  { 
	left:-50px;
	width:150px;
 	color:#211f1c;
 	background: #fff;
 	border-radius: 5px 0 0 5px;
}

.tab_container {
	min-height:480px;
	position:relative;
	top:-20px;
	float:right;
 	width: 700px;
 	background: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.1);

}

.tab_content {
 	padding: 30px;
	font-size:16px;
}
